  /* animations section start */
@keyframes scaleUpDownText {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes solution_move {
    0% {
        translate: 0 -70px;
    }

    50% {
        translate:0 -90px;
    }

    100% {
        translate:0 -70px;
    }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* animations section end */

  body {
    overflow:hidden;
  }
  
  #root, #app {
    isolation: isolate;
  }

  .main_section {
    display:flex;
    min-height:100vh;
    flex-direction:column;
  }

  .content_section {
    display:flex;
    flex:1;
    flex-direction:column;
    background:black;
    color:#fff;
  }

  .content_section .text_content_section {
    flex:55;
    justify-content: center;
    display:flex;
    flex-direction:row;
    position: relative;
    min-height:400px;
  }

  .content_section .text_content_section #rain_background {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index:0;
  }

  .content_section .text_content_section .text_box {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    z-index:1;
  }

  .content_section .text_content_section .text_box h1 {
    animation:scaleUpDownText 1.2s ease-out forwards;
    transform: scale(0);
    font-size:4rem;
    transition:all .3s;
  }

  .content_section .text_content_section .text_box p {
    margin-bottom:1rem;
    animation:scaleUpDownText 1.2s ease-out forwards;
    transform: scale(0);
    font-size:2rem;
    transition:all .3s;
  }
  
  .content_section .box_content_section {
    flex:45;
    display:flex;
  }

  .content_section .box_content_section .box_list {
    list-style:none;
    display:flex;
    padding:0;
    border-top:1px solid rgba(255, 255, 255, 0.2);
    flex:1;
  }

  .content_section .box_content_section .box_list li.box_item {
    width: 25%;
    border-left:1px solid rgba(255, 255, 255, 0.2);
    border-right:1px solid rgba(255, 255, 255, 0.2);
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    overflow: visible;
    display:flex;
    flex-direction:column;
    /* transition: all 1.2s; */
  }

  .content_section .box_content_section .box_list li.box_item .item_container {
    display:flex;
    flex:1;
    flex-direction:column;
    color:#fff;
    text-decoration: none;
  }

  .item_container .img_box {
    flex:1;
    display:flex;
    overflow: visible;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-clip:content-box;
    background-origin: content-box;
    padding:40px;
    opacity: .8;
    transition: all .7s;
  }

  .content_section .box_content_section .box_list li.box_item img {
    opacity: .1;
    flex:1;
    object-fit: contain;
  }

  .content_section .box_content_section .solution_text_box {
    display:flex;
    justify-content: center;
    transition: all 1.2s;
  }

  .content_section .box_content_section .solution_text_box h2 {
    padding-bottom:20px;
    font-size:2rem;
  }

  .box_item:hover {
    cursor:pointer;
  }

  .box_item:hover .item_container .img_box {
    opacity:1;
    cursor:pointer;
    translate:0 -70px;
    animation: 3s solution_move .7s linear infinite forwards;

  }

  .box_item:hover .item_container .solution_text_box {
    translate:0 -80px;
  }

  .box_item:nth-child(1) .item_container .img_box {
    background-image: url(resources/images/main_page/idc_solution_before.png);
  }

  .box_item:nth-child(1):hover .item_container .img_box {
    background-image: url(resources/images/main_page/idc_solution_after.png);
  }

  .box_item:nth-child(1):hover .item_container {
    background-image:url(resources/images/main_page/idc_solution_background.png);
    background-size:cover;
  }

  .box_item:nth-child(2) .item_container .img_box {
    background-image: url(resources/images/main_page/vpc_solution_before.png);
  }

  .box_item:nth-child(2):hover .item_container .img_box {
    background-image: url(resources/images/main_page/vpc_solution_after.png);
  }

  .box_item:nth-child(2):hover .item_container {
    background-image:url(resources/images/main_page/vpc_solution_background.png);
    background-size:cover;
  }

  .box_item:nth-child(3) .item_container .img_box {
    background-image: url(resources/images/main_page/movablecctv_solution_before.png);
  }

  .box_item:nth-child(3):hover .item_container .img_box {
    background-image: url(resources/images/main_page/movablecctv_solution_after.png);
  }

  .box_item:nth-child(3):hover .item_container {
    background-image:url(resources/images/main_page/movablecctv_solution_background.png);
    background-size:cover;
  }

  .box_item:nth-child(4) .item_container .img_box {
    background-image: url(resources/images/main_page/PF360_solution_before.png);
  }

  .box_item:nth-child(4):hover .item_container .img_box {
    background-image: url(resources/images/main_page/PF360_solution_after.png);
  }

  .box_item:nth-child(4):hover .item_container {
    background-image:url(resources/images/main_page/PF360_solution_background.png);
    background-size:cover;
  }

  .loading_video_box {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1000;
    opacity: 0;
    animation:fade_in 1s ease forwards;
  }

  .loading_video_box.close_video {
    animation:fade_out 1s ease forwards;
  }

  .loading_video_box #loading_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Table size */
@media screen and (max-width:1280px){
  .content_section .text_content_section .text_box h1 {
    font-size:3.5rem;
  }

  .content_section .text_content_section .text_box p {
    font-size:1.8rem;
  }
}

  
/* Mobile size */
@media screen and (max-width: 768px){
  .content_section .text_content_section .text_box h1 {
    font-size:2rem;
  }

  .content_section .text_content_section .text_box p {
    font-size:1.4rem;
    padding-left:20px;
    padding-right:20px;
  }

  .content_section .box_content_section .box_list {
    flex-wrap: wrap;
    min-height:500px;
  }

  .content_section .box_content_section .box_list li.box_item {
    width: 50%;
    box-sizing: border-box;
  }
}