* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main_section {
    height: auto!important;
  }

.content_section {
    scroll-behavior: smooth;
    overflow:auto;
    background: none;
}


.content_background {
    background-size:cover;
    background-position: center;
    position:fixed;
    width: 100vw;
    z-index:-1;
    opacity: 1;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    opacity: 0;
    transition:all .2s;
}

.content_background_first {
    background-image: url(../images/about_business/about_business_background.jpg);
    opacity: .9;
}

.content_background_second {
    background-image: url(../images/about_business/about_business_background2.jpg);
    opacity: .9;
}

.content_background_thrid {
    background-image: url(../images/about_business/about_business_background3.jpg);
    opacity: .9;
}

.content_background_forth {
    background-image: url(../images/about_business/about_business_background4.jpg);
    opacity: .9;
}

.content_body {
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content:end;
}

.main_text_box {
    width: 45%;
    height:120%;
    max-height:2200px;
    position:fixed;
    overflow-y: auto;
    left:0;
    z-index: 0;
}

.main_text_box #main_text {
    position:sticky;
    top:50%;
    text-align: left;
    padding-left:100px;
    animation:fadeInText 1.2s ease-out forwards;
}

.main_text_box #main_text h2.title_text {
    font-size:4rem;
}

.main_text_box #main_text p.sub_text {
    font-size:2rem;
}

ul.item_list {
    list-style: none;
    padding: 0;
    width:55%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:200px 70px;
}

ul.item_list li.item_box {
    height: 450px;
    width: 50%;
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border-radius: 60px;
    overflow: hidden;
}

ul.item_list li.item_box:nth-child(even) {
    margin-top:450px;
}

ul.item_list li.item_box .item_img {
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

ul.item_list li.item_box:nth-child(1) .item_img {
    background-image:url(../images/about_business/about_business_background.jpg)
}

ul.item_list li.item_box:nth-child(2) .item_img {
    background-image:url(../images/about_business/about_business_background2.jpg)

}

ul.item_list li.item_box:nth-child(3) .item_img {
    background-image:url(../images/about_business/about_business_background3.jpg)

}

ul.item_list li.item_box:nth-child(4) .item_img {
    background-image:url(../images/about_business/about_business_background4.jpg)

}

ul.item_list li.item_box .item_text_box {
    height: 55%;
    padding-top:2rem;
    padding-left:1rem;
}

ul.item_list li.item_box .item_text_box h2 {
    font-size:3rem;
    transition:all .3s;
}

ul.item_list li.item_box .item_text_box p {
    font-size:1.5rem;
    transition:all .3s;
}



/* Table size */
@media screen and (max-width:1280px){
    ul.item_list {
        padding: 150px 20px;
        width: 60%;
    }

    ul.item_list li.item_box {
        height: 400px;
    }

    ul.item_list li.item_box .item_text_box h2 {
        font-size:2.5rem;
    }

    ul.item_list li.item_box .item_text_box p {
        font-size:1.4rem;
    }

    .main_text_box {
        width: 40%;
    }

    .main_text_box #main_text {
        padding-left:40px;
    }

    .main_text_box #main_text h2.title_text {
        font-size:3rem;
    }

    .main_text_box #main_text p.sub_text {
        font-size:1.6rem;
    }

    
}

/* Mobile size */
@media screen and (max-width: 768px){
    .content_body {
        flex-direction: column;
    }

    .main_text_box {
        display:none;
    }

    ul.item_list {
        width: 100%;
        padding: 100px 20px;
    }

    ul.item_list li.item_box {
        height: 400px;
    }

    ul.item_list li.item_box .item_text_box p {
        font-size:1.2rem;
    }
}