@keyframes waves{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  .main_section {
    display:flex;
    flex-direction:column;
  }

  .content_section {
    display:flex;
    flex:1;
    flex-direction:column;
    background:black;
    color:#fff;
  }

.content_section {
    justify-content: center;
    background:#f9fafb;
    display:flex;
    flex-direction: row;
}

.content_section_container {
    display:flex;
    flex-direction:column;
    max-width:1280px;
    flex:1;
}

.content_header_section {
    display:flex;
    flex-direction: row;
    height:45%;
    min-height:400px;
    width: 100%;
}

.content_header_left_section {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.content_header_left_section .solution_title_box {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.content_header_left_section .solution_title_box .title_first {
    color:#032f55;
    font-size:4rem;
}

.content_header_left_section .solution_title_box .title_last {
    font-size:4rem;
    color:#0dbdb3;
}

.content_header_left_section_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.solution_logo_box {
    min-width: 250px;
    min-height:150px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    overflow:hidden;
    position:relative;
    border-radius:20px;
}

.wave{
	position: absolute;
	top: 90%;
	left: -50%;
	width: 500px;
	height: 500px;
	background-color: #00b7ff;
	border-radius: 34%;
	animation-name: waves;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    opacity: .7;
	&.one{
		animation-duration: 14000ms;
        top:92%;
	}

	&.two{
		animation-duration: 32000ms;
        background-color: #0dbdb3;
        left:-45%;
	}
	
	&.three{
		animation-duration: 24000ms;
        top:95%;
        left:-55%;
        background-color:#032f55;
	}
}

.solution_logo_box_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.solution_logo_border {
    width: 200px;
    height: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_header_right_section {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.content_header_right_section .content_header_right_img_box {
    width: 100%;
    height: 100%;
    flex:1;
    border-radius: 30px;
    background-image: url(../images/detail_processfusion/processfusion_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 5px rgba(3, 47, 85, 0.6);
}


.content_body_section {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    height:55%;
    width: 100%;
    min-height:450px;
}

.content_body_left_section {
    display:flex;
    width: 40%;
    flex-direction: column;
    padding:60px;
}

.content_body_left_box {
    background-color:#032f55;
    flex:5;
    border-radius: 30px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.content_body_left_box h4 {
    color:#fff;
    font-size:3rem;
    font-weight: bold;
}

.content_body_left_box p {
    font-size:1.6rem;
}

.content_body_left_btn_box {
    flex:1;
    padding-top:10px;
    display:flex;
    justify-content: center;
}

.content_body_left_btn_box .demo_btn_box {
    flex:1;
    padding-right:5px;
    display:flex;
    max-width:150px;
}

.content_body_left_btn_box .download_btn_box {
    flex:1;
    padding-left:5px;
    display:flex;
    max-width:150px;
}

.content_body_left_btn_box .demo_btn_box button {
    flex:1;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border:none;
    font-weight:bold;
    font-size:1.6rem;
    transition: all 0.3s ease 0s;
    color:#fff;
    background-color:#0dbdb3;
    cursor:pointer;
}

.content_body_left_btn_box .demo_btn_box button:hover {
    color:rgb(13, 189, 179);
    background-color:#fff;
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(13, 189, 179, 0.4);
}

.content_body_left_btn_box .download_btn_box button {
    flex:1;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border:none;
    font-weight:bold;
    font-size:1.6rem;
    transition: all 0.3s ease 0s;
    color:#fff;
    background-color:#4acbfe;
    cursor:pointer;
}

.content_body_left_btn_box .download_btn_box button:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(74, 203, 254, 0.4);
    color: rgb(74, 203, 254);
    transform: translateY(-7px);
}


.content_body_right_section {
    display:flex;
    width: 60%;
    height:100%;
}


.content_body_right_section ul.item_list {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
    padding:50px 20px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.content_body_right_section ul.item_list li.item_box {
    width: 33.3%;
    height:50%;
    padding:15px;
    display:flex;
}

.content_body_right_section ul.item_list li.item_box .item_box_container {
    flex:1;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px#666565;
    transition:all .5s;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:#000;
}

.content_body_right_section ul.item_list li.item_box .item_box_container svg {
    width: 40px;
    height: 40px;
    color:#0dbdb3;
    transition:all .5s;
}

.content_body_right_section ul.item_list li.item_box .item_box_container h4 {
    color:#000;
    transition: all .5s;
    font-size:1.6rem;
    font-weight:400;
}

.content_body_right_section ul.item_list li.item_box .item_box_container:hover {
    translate:-5px -5px 10px;
    background-color:#032f55;
}


.content_body_right_section ul.item_list li.item_box .item_box_container:hover h4 {
    color:#fff;
}

/* Table size */
@media screen and (max-width:1280px){

    .main_section {
        height: auto;
      }

    .content_header_section {
        min-height:400px;
    }

    .content_body_left_section {
        padding:60px 10px;
        width: 30%;
    }

    .content_body_right_section {
        width: 70%;
    }

    .content_body_left_box p {
        font-size:1.2rem;
    }

    .content_body_right_section ul.item_list li.item_box .item_box_container svg {
        width: 30px;
        height: 30px;
    }

    .content_body_right_section ul.item_list li.item_box .item_box_container h4 {
        font-size:1.2rem;
    }

    .content_body_left_btn_box .demo_btn_box button {
        font-size:1.2rem;
    }

    .content_body_left_btn_box .download_btn_box button {
        font-size:1.2rem;
    }

}

/* Mobile size */
@media screen and (max-width: 768px){

    .content_header_section {
        flex-direction: column;
        min-height:650px;
    }

    .content_header_left_section {
        width: 100%;
        min-height: 300px;
    }

    .content_header_right_section {
        width: 100%;
        min-height:350px;
        padding:10px 30px;
    }

    .content_body_section {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .content_body_left_section {
        width: 100%;
        padding: 30px;
    }

    .content_body_left_box p {
        margin-top:30px;
    }

    .content_body_left_btn_box .demo_btn_box button {
        padding: 20px;
    }

    .content_body_left_btn_box .download_btn_box button {
        padding: 20px;
    }

    .content_body_right_section {
        width: 100%;
    }

    .content_body_right_section ul.item_list {
        padding: 30px;
    }

    .content_body_right_section ul.item_list li.item_box .item_box_container h4 {
        margin-top:30px;
    }
}